// Colors
@blue: #1b75bc;
@darkBlue: #0a497a;
@purple: #9a4699;
@darkRed: #53121d;
@lightGray: #f9f9f9;
@yellow: #fff8b9;
@orange: #FF9100;
@textColor: #333;

// Fonts
@ff-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
@ff-sans-condensed: @ff-sans;
@ff-serif: Georgia, "Times New Roman", Times, serif;
@ff-sketch: "sketchnote-text", @ff-serif;
@ff-fontawesome: "FontAwesome";
@ff-fate: "fate";

// Breakpoints
@papa-bear: 960px;
@mama-bear: 768px;
@baby-bear: 480px;

// Misc
@img: "../img";
@unit: 10px;
